# for macOS/Linux

## No sensitive values here
## This should be sourced from $HOME/.envrc

# Requires hooking up asdf-direnv hooks, but makes this automatic.
# asdf plugin-add direnv
# `asdf direnv setup bash` or `asdf direnv setup bash`
# https://github.com/asdf-community/asdf-direnv

# In zshrc then:
# export ASDF_DIRENV_BIN="$(asdf which direnv)" # or `$(command -v direnv)` for system managed.
# Hook direnv into your shell.
# eval "$($ASDF_DIRENV_BIN hook zsh)"

use asdf

export DIRENV_WARN_TIMEOUT='10s'
export DIRENV_LOG_FORMAT=""
source_env "$HOME"
source_env_if_exists .env
